<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <psb>
                <model>psb/psb</model>
                <active>1</active>
                <test_mode>0</test_mode>
                <order_status>pending</order_status>
                <title>Paysbuy Payment Gateway</title>
                <merchant_id>example@paysbuy.com</merchant_id>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </psb>
        </payment>
    </default>
</config>
