<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <psb>
                <model>Paysbuy\PsbGateway\Model\PaymentMethod</model>
                <title>PAYSBUY</title>
                <payment_action>Sale</payment_action>
                <visible_on_cart>1</visible_on_cart>
                <order_status>pending_payment</order_status>
                <test_mode>0</test_mode>
                <merchant_id>example@paysbuy.com</merchant_id>
                <merchant_psbid>1234567890</merchant_psbid>
                <merchant_securecode>babababa20202020fefefefe74747474</merchant_securecode>
            </psb>
        </payment>
    </default>
</config>
